<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.hxzk.kottlindemo">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".list.GroupActivity"></activity>
        <activity android:name=".list.PlusAndMinusOperatorActivity" />
        <activity android:name=".list.FilterActivity" />
        <activity android:name=".list.ListReserverActivity" />
        <activity android:name=".list.SetOperationActivity" />
        <activity android:name=".list.IntervalAndSequence" />
        <activity android:name=".list.InteratorActivity" />
        <activity android:name=".list.ConstructorListActivity" />
        <activity android:name=".list.ListOverViewActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".function_lambda.LambdaActivity" />
        <activity android:name=".function_lambda.FunctionActivity" />
        <activity android:name=".FunAndLambdaActivity" />
        <activity android:name=".classandobject.EntrustAttributeActivity" />
        <activity android:name=".classandobject.EntrustActivity" />
        <activity android:name=".classandobject.InlineActivity" />
        <activity android:name=".classandobject.TypeAliasActivity" />
        <activity android:name=".classandobject.ObjectClassActivity" /> <!-- 枚举类 -->
        <activity android:name=".classandobject.EnumClassActivity" /> <!-- 内嵌类 -->
        <activity android:name=".classandobject.InnerClassActivity" /> <!-- 泛型 -->
        <activity android:name=".classandobject.GenericActivity" /> <!-- 密封类 -->
        <activity android:name=".classandobject.SealClassActivity" /> <!-- 数据类 -->
        <activity android:name=".classandobject.DataBeanActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- ===========开始部分================ -->
        <activity android:name=".StartActivity" />
        <activity android:name=".start.base.VarAndFunActivity" />
        <activity android:name=".start.habitusage.HabitUsageActivity" />
        <activity android:name=".start.codespecification.CodeSpecificationActivity" /> <!-- ============ 基础部分 ================ -->
        <activity android:name=".BaseActivity" />
        <activity android:name=".base.BaseTypeActivity" />
        <activity android:name=".base.PackageAndImportActivity" />
        <activity android:name=".base.ControlStreamActivity" />
        <activity android:name=".base.BackAndJumpActivity" /> <!-- =========== 类和对象 ================= -->
        <activity android:name=".ClassAndObjectActivity" />
        <activity android:name=".classandobject.ClassAndExtendsActivity" /> <!-- 类与继承 -->
        <activity android:name=".classandobject.PropertyAndFieleActivity" /> <!-- 属性和字段 -->
        <activity android:name=".classandobject.InterfaceActivity" /> <!-- 接口 -->
        <activity android:name=".classandobject.VisiableModifierActivity" /> <!-- 可见修饰符 -->
        <activity android:name=".classandobject.ExtensionActivity" />
    </application>

</manifest>